<div style="width: 100%; text-align: center;">
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "Index", "About")</li>
        <li>@Html.ActionLink("Charity", "Index", "Charity")</li>
        <li>@Html.ActionLink("Board", "Members", "Board")</li>
        <li>@Html.ActionLink("Press", "Index", "Press")</li>
        <li>@Html.ActionLink("Events", "Events", "Event")</li>
        <li>@Html.ActionLink("Files/Forms", "Index", "File")</li>
        <li>@Html.ActionLink("Contact Us", "Index", "Contact")</li>
    </ul>
</div>