@model IEnumerable<ElmhurstJaycees.Models.File>
@{
    ViewBag.Title = "Index";
}
<h2>Files/Forms</h2>
@{
    if (Context.User.Identity.IsAuthenticated)
    {
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    }
}
<table>
   @* <tr>
        <th>
            
        </th>
        @{
            if (Context.User.Identity.IsAuthenticated)
            { 
            <th>
                FileName
            </th>
            <th>
                Public
            </th>
            <th>
                Form
            </th>
            <th>
            </th>
            }   
        }*@
    </tr>
    @foreach (var item in Model)
    {
        
        
        <tr>
            <td>
                <a href="@Url.Content("~/FileHelper/RenderFile/?fileID=" + @item.FileID)">@item.Title</a>
            </td>
            @{   
                                                                                     if (Context.User.Identity.IsAuthenticated)
                                                                                     {
                <td>
                    <a href="@Url.Content("~/FileHelper/RenderFile/?fileID=" + @item.FileID)">@item.FileName</a>
                </td>
                <td>
                    @Html.Label(item.Public.ToString())
                </td>
                <td>
                    @Html.Label(item.Form.ToString())
                </td>                                                                  
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FileID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FileID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FileID })
                </td>
                                                                                     } 
            }
        </tr>
    }
</table>
