@model ElmhurstJaycees.Models.Contact
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}
<div style="margin-left: 20px;">
    @{

        if (Context.User.Identity.IsAuthenticated)
        {
            if (Model == null)
            {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
            }
            else
            {
        <p>
            @Html.ActionLink("Edit", "Edit", new { Id = Model.Id })
        </p>
            }
        } if (Model != null)
        {
            if (Model.FileID.HasValue)
            {
        <img src="@Url.Content("~/FileHelper/RenderFile/?fileID=" + @Model.FileID)" alt="@Model.File.FileName" />
            } if (!String.IsNullOrWhiteSpace(Model.Content))
            {
        @MvcHtmlString.Create(Model.Content)
            }
        }
    }
</div>
